.app{
  background-color: grey;
}
.tablero{
  display: flex;
  flex-direction: column;
}
.boton-base {
  width: 30px;
  height: 30px;
}
.filas{
  display: flex;
  flex-direction: row;
}
.blanco{
  background-color: white;
}
.rojo{
  background-color: red;
}
.gris{
  background-color: grey;
}